{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],{{#unless_eq projectType "lib"}}
  "plugins": ["transform-runtime"],{{/unless_eq}}
  "env": {
    {{#if_eq projectType "lib"}}
    "development": {
      "plugins": ["transform-runtime"]
    },
    "production": {
      "presets": ["es2015"],
      "plugins": ["babel-plugin-add-module-exports"]
    },{{/if_eq}}{{#if_or unit e2e}}
    "test": {
      "presets": ["env", "stage-2"]{{#if_eq runner "karma"}},
      "plugins": ["istanbul"{{#if_eq projectType "lib"}}, "transform-runtime"{{/if_eq}}]{{/if_eq}}{{#if_eq runner "jest"}},
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]{{/if_eq}}
    }{{/if_or}}
  }
}
